<h1>Inicio#portada</h1>


<div class="columns is-variable is-1-mobile is-0-tablet is-3-desktop is-8-widescreen is-2-fullhd">
  <div class="column">
    Column
  </div>
  <a class="button is-link">
  Button
</a>
  <div class="column">
    Column
  </div>
  <div class="column">
    Column
  </div>
  <div class="column">
    Column
  </div>
  
  <div has-text-dark class="column">
    Column
  </div>
</div>
